*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    padding: 0 10%;
    height: 100vh;
    
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    color: gray;
    align-items: center;
    list-style: none;
    font-size: 20px;
    height: 50px;
     animation: topIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
  
}
.navbar ul a{
    text-decoration: none;
}
.heading{
    margin-left: -50px;
    font-size: 40px;
    color:rgb(43, 58, 85,0.9);
    font-weight: 800;
}
.btn{
    padding: 6px 13px;
    border: none;
    color: #fff;
    background-color: rgb(133, 40, 255);
    cursor: pointer;
    margin-right: -100px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s;

}
.btn:hover{
    background-color: rgb(96, 28, 184);
}
.navbar ul li:hover{
    border-bottom: 2px solid rgb(133, 40, 255);
    color: rgb(133, 40, 255);
}
.content{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
.content h3{
    font-size: 3rem;
    color: rgba(43,58,85,0.9);
    animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}
.content h1{
    font-size: 4rem;
     color: rgba(43,58,85,0.9);
     font-weight: 800;
      animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}
.content h1 span{
    color: rgb(133, 40, 255);
}
.content p{
    font-size: 1.1rem;
    line-height: 1.3;
    color: gray;
    animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.hero-img{
    width: 63%;
    margin-left: 20%;
     animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
    
}
.cta-section{
    display: flex;
    align-items: center;
    gap: 60px;
}
.cta-section button{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 50px;
    width: 200px;
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(43,58,85,0.5);
    animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}
.cta-1{
    background-color: rgb(43, 58, 85,0.9);
    color: white;
}
.cta-2{
    background-color: rgb(133, 40, 255)
    ;
    border: 1px solid rgb(133, 40, 255);
    color: #fff;
 
}
.cta-section button:hover{
    background-color: rgb(96, 28, 184);
}
.social-section{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.social-section i{
    font-size: 18px;
    font-weight: 600;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    padding: 8px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    animation: buttonIn 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
    
}
.social-section i:hover{
    border-color: rgb(133, 40, 155);
    transform: scale(1.1);
}
.footer{
    margin-left: 30px;
}
@keyframes buttonIn{
    from{
        transform: translateY(250px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes topIn{
    from{
        transform: translateY(-250px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}